<div id="panel">
    <h3 id="paneltitle">{{getPartyName()}}</h3>

    <hr>

    <h5>Name of party</h5>
    <input type="text" name="lastName" ng-model="partyName" ng-change="setPartyName(partyName)">

    <hr>

    <h5>Number of guests</h5>
    <input type="number" id="number-of-guests-input" value="{{getNumberOfGuests()}}" min="1" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)">

    <hr>

    <h4>Dish Name - Cost</h4>

    <p ng-repeat="dish in getFullMenu()">
        {{dish.Title}} - {{getDishPrice(dish)}}
    </p>

    <div id="dish-and-cost"><br><br>Total menu cost: {{getTotalMenuCost()}} kr.</div>
    <hr>

    <a id="back-to-select-dish-btn" href="#/overview" class="btn btn-default">Confirm Dinner</a>
</div>

