<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it looks a bit nicer. -->

<div class="site-wrapper-main">

    <div class="site-wrapper-inner-main">

        <div class="cover-container-main">



            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Elite Party Planner</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active-inline-block"><a href="#">Home</a></li>
                            <li><a href="#">Your previous parties</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner-cover">
                <h1 class="cover-heading">Plan the perfect party</h1>
                <p class="lead">Have you ever wanted to create the perfect dinner party, but never had the inspiration? Tired of forgetting how to make that one dish that you tasted that one time? Look no further, the Elite Party Planner will help you!</p>
                <p class="lead">
                    <a href="#/search" class="btn btn-lg btn-default">Get started</a>
                </p>
            </div>
         </div>
        </div>
    </div>

