<ng-include src="'partials/header.html'"></ng-include>
<ng-include src="'partials/top-container.html'" ng-controller="TopContainerCtrl"></ng-include>

<div id="full-menu-wrapper">



        <div class="meal" ng-repeat="dish in getFullMenu()">
            <img id="dish-in-view" ng-src="{{dish.ImageURL}}">
            <a ng-href="#/dish/{{dish.RecipeID}}"></a>
            <p>{{dish.Title}}</p>
        </div>
        <!--
                <div class="col-md-4 meal-container">
                    <img id="dish-in-view" ng-src="{{dish.ImageURL}}">
                    <a ng-href="#/dish/{{dishes[$index + 1].RecipeID}}"><p>{{dishes[$index + 1].Title}}</p></a>
                </div>

                <div class="col-md-4 meal-container">
                    <img id="dish-in-view" ng-src="{{dish.ImageURL}}">
                    <a ng-href="#/dish/{{dishes[$index + 2].RecipeID}}"><p>{{dishes[$index + 2].Title}}</p></a>
                </div>-->

</div>


<div class="align-center">
    <a id="print-recipe-btn" href="#/preparations" class="btn btn-default">Print full recipe</a>
</div>