<ng-include src="'partials/header.html'"></ng-include>
<ng-include src="'partials/top-container.html'" ng-controller="TopContainerCtrl"></ng-include>

<div class="container" id="preparations-overview-view" style="display: block;">
    <div ng-repeat="dish in getFullMenu()" class="row">


        <img ng-src="{{dish.ImageURL}}" class="col-md-4">


        <div class="col-md-4">
            <h3>{{dish.Title}}</h3>
            <p>{{dish.Description}}</p>
        </div>

        <div class="col-md-4">
            <h3>Preparations</h3>
            <p>{{dish.Instructions}}</p>
        </div>

    </div>
</div>