<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->


<div id="select-dish">
    <h1>Select Dish</h1>
				<span id="searchbar">
					Keywords: <input ng-model="query" id="searchfield" type="text" style="color:black" placeholder="Search">
				</span>
    <button ng-click="search(query)">Find</button>

				<span id="typeSelector">
					<select id="types" style="color: #000000">
                        <option disabled selected value="">Select a type a dish</option>
                        <option value="starter">Starter</option>
                        <option value="main dish">Main dish</option>
                        <option value="dessert">Dessert</option>
                    </select>
				</span>
</div>

{{status}}
<ul>
    <li ng-repeat="dish in dishes">
        <img id="dish-picture" ng-src="{{dish.ImageURL}}"/>
        {{dish.Title}}
        <a ng-href="#/dish/{{dish.RecipeID}}">View more</a>
        {{dish.Category}} {{dish.Subcategory}}
    </li>
</ul>