<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/header.html'"></ng-include>
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>


<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->


<div id="select-dish">
    <h1>Select Dish</h1>
				<span id="searchbar">
					Keywords: <input ng-model="query" id="searchfield" type="text" style="color:black"
                                     placeholder="Search">
				</span>


				<span id="typeSelector">
					<select id="types" ng-model="singleSelect" style="color: #000000">
                        <option disabled selected value="">Select a type of dish</option>
                        <option value="starter">Starter</option>
                        <option value="main dish">Main dish</option>
                        <option value="dessert">Dessert</option>
                    </select>
				</span>

            <span id="btn-in-search">
                <button id="search-btn" class="btn btn-default" ng-click="search(query, singleSelect)">Find</button>
            </span>
</div>

<div id="meals-view">

    <div id="div-load"ng-show="loading"><img src="images/loading.gif"></div>
    <div ng-show="error">An error occured. Please check your internet connection.</div>


    <div ng-repeat="dish in dishes" ng-if="$index % 3 == 0" class="row">

        <div class="col-md-4 meal-container">
            <img id="dish-in-view" ng-src="{{dishes[$index].ImageURL}}">
            <a ng-href="#/dish/{{dishes[$index].RecipeID}}"><p>{{dishes[$index].Title}}</p></a>
        </div>

        <div class="col-md-4 meal-container">
            <img id="dish-in-view" ng-src="{{dishes[$index + 1].ImageURL}}">
            <a ng-href="#/dish/{{dishes[$index + 1].RecipeID}}"><p>{{dishes[$index + 1].Title}}</p></a>
        </div>

        <div class="col-md-4 meal-container">
            <img id="dish-in-view" ng-src="{{dishes[$index + 2].ImageURL}}">
            <a ng-href="#/dish/{{dishes[$index + 2].RecipeID}}"><p>{{dishes[$index + 2].Title}}</p></a>
        </div>

    </div>
</div>
