body {
    background: #fff;
}

.container {
    background: white
}

.left {
    float: left;
}

h6 {
    margin-top: 0;
}

#panel > * {
    max-width: 100%;
}

header {
    background: red;
    padding: 2rem;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#panel {
    background: blue;
    width: 200px;
    position: absolute;
    height: 100%;
    left: 0;
}

#select-dish {
    background: yellow;
    overflow: hidden;
}

#meals-view {
    background: lightgrey;
    height: 100%;
    overflow: hidden;
}

#meals-view div {
    margin: 1rem;
    display: inline-block;
}

#meals-view div p {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 2rem 2rem;
    display: inline;
}

#detail-view {
    display: inline-block;
    height: 100%;
    float: left;
    width: 50%;
    text-align: center;
}

#ingredientsView {
    display: inline-block;
    text-align: center;
    width: 50%;
    height: 100%;
}

#ingredients-form {
    width: 100%;
    height: 100%;
}

#super-wrapper {
    float: left;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.inner-site-wrapper {
    padding-left: 200px;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#preparationsView {
    clear: both;
}


.right {
    float: right;
}

.top-container > * {
    margin: 20px;
}

.top-container {
    background: yellow;
    overflow: auto;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.full-menu-wrapper {
    clear: both;
    text-align: center;
    height: 100%;
}

.meal {
    height: auto;
    width: 20%;
    padding: 2rem;
    display: inline-block;
}

.meal img {
    width: 100%;
    height: 100%;
}

.align-center {
    text-align: center;
}

.meal-preparation {
    margin: 1rem 0;
}

h3 {
    margin-top: 0;
}